{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'cars/css/styles.css' %}">
  <link rel="icon" href="{% static 'cars/favicon.ico' %}" type="image/x-icon" />
</head>

<body>
  <header class="navbar">
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'add' %}">Add</a></li>
      </ul>
    </nav>
  </header>
  <main>{% block content %}{% endblock %}</main>
  <footer class="footer">
    <div class="footer-container">
      <p>&copy; 2024 Your Company Name. All Rights Reserved.</p>
      <ul class="footer-links">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>